.col-md-5 img {
     width: 100%;
}

.masthead .background {
    height: 100vh;
    background: url("images/skyline.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .5;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-size: 20px;
    color: #212529;
    font-family: Lora,'Times New Roman',serif;
}