.col-md-5 img {
    width: 100%;
}

.masthead .background {
    height: 100vh;
    background: url("images/skyline.png") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}