{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>

<h4>Why Liverpool?</h4>
<p></p>

{% for member in company %} {% if loop.index % 2 != 0 %}
<div class="row featurette">
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
    </div>
</div>
{% else %}
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
    </div>
    <div class="col-md-7">
        <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
        <p>{{ member.description }}</p>
    </div>
</div>
{% endif %} {% if loop.index != 13 %}
<hr class="featurette-divider"> {% endif %} {% endfor %} {% endblock %}