Sara Oliver\Downloads\thorin-and-company {% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Welcome to GradPads
                </h2>
                <h3 class="post-subtitle">
                    Your Home from Home
                </h3>
                <p>
                Based in the vibrant city of Liverpool, GradPads provides excellent, cost effective and quality accommodation to professionals, recent graduates and all students.

                We offer a range of newly refurbished two, three, four and five bedroomed properties to accommodate all your needs at competitive prices. Our properties are within close proximity to Liverpool city centre, providing easy access to the hospitals, universities, businesses, bars and restaurants. 

                Our dedicated Team aim to fulfil your requirements and provide  tenants with a safe and enjoyable experience. We aim to  provide the very best level of service and attention in comfortable surroundings.
                </P>
            </a>
        </div>
        <hr>
        
{% endblock %}
